.App {
  font-size: 4vw;
  font-family: Montserrat, sans-serif;
  font-weight: 500;

}

.date {
  font-size: 1vw;
  text-align: right;
  margin-right: 200px;
  margin-top: 10px;
}

.app-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  padding: 10px;
  text-align: center;
}

.card {
  margin: auto;
  width: 70%;
  padding: 10px;
  margin-bottom: 150px;
  align-items: center;
}